.App {
  text-align: center;
}
/* Header */
.main-header {
  height: 15vw;
  display: block;
}


.logo{
    width: 23vw;
}

.ui.secondary.menu {
    margin-left:   33.642857em;
    margin-right: 29.642857em;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}

i.icon.cart:before {
    content: "\f07a";
    margin-left: -4vw;
}

.ui.secondary.menu .item{
  padding: 2vw
}

.item.profile-link{
margin: 2vw;
padding: -1vw;
margin-left: 3vw;
}

.item.logout-link{margin: 2vw;

padding: 1vw;
margin-left: 1.54vw;
}

.menu-right{
  display: block;
  list-style: none;
  text-align: left;
  padding: 20px 0px 0;
  text-align: center;
  max-width: 1148px;
  position: absolute;
  right: 32px;
  top: 26px;
}
/* MODAL */
.ui.modal{
  text-align: center !important;
  font-size: large !important;
  width: 42vw !important;
  height: 53vw !important;
}

/* userform  */
.user-form{
  width: 100%;
  padding: 7vw 4vw;
}


/* homepage image */
img.ui.image.home-image {
  margin: 2vw !important
}

/* all items images card */

.ui.card:last-child {
  margin-bottom: 2vw !important;
  margin-right: 4vw !important;
}

.ui.six.cards {
margin-left: 21.25em !important;
margin-right: -.75em !important;
}

.ui.cards {
    margin: 4.125em 0.5em !important;
  }

/* Show Container */

.show-container{

}


/* shoppingCart */
.ui.segment.product-info {
    margin-left: 7vw;
    margin-right: -11vw;
  }

.ui.segment.total-card{
  margin-left: 9vw;
  margin-right: 5vw;
  background-color: aliceblue;
}
