/* font-family: 'Bree Serif', serif;
font-family: 'Simonetta', cursive;
font-family: 'Caveat', cursive;
font-family: 'Monda', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Philosopher', sans-serif; */


.App {
  text-align: center;
}

.show{
  display: block;
}

.hide{
  display: none
}
/* -------------------------------------Header--------------------------------- */
.main-header {
  height: 15vw;
  display: block;
}


.logo{
  width: 12vw;
}


.ui.secondary.menu {
    margin-left: 33vw;
    margin-right: 29.642857em;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Bree Serif', serif;
    font-weight: bold !important;
    font-size: 1vw;


}
/* cart icon */
i.icon.cart:before {
    content: "\f07a";
    margin-left: -4vw;
    cursor: pointer;
}

.ui.secondary.menu .item{
  padding: 2vw
}

.cartCount {
  position: absolute;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-family: 'Monda', sans-serif;
  top: 6px;
right: 165px;


}

/* ----------------------------header menu------------------------------------ */
.item.profile-link{
margin: 2vw;
padding: -1vw;
margin-left: 3vw;
}

.item.logout-link{margin: 2vw;

padding: 1vw;
margin-left: 1.54vw;
}

.menu-right{
  display: block;
  list-style: none;
  text-align: left;
  padding: 20px 0px 0;
  text-align: center;
  max-width: 1148px;
  position: absolute;
  right: 32px;
  top: 26px;
}
/* MODAL */
.user-modal{
  text-align: center !important;
  font-size: large !important;
  width: 35vw !important;
  height: 41vw !important;
}

/* userform  */
.user-form{
  color: teal;
  width: 100%;
  padding: 14vw 4vw;
  background: url('./formpic.jpg');
}

.reg-login{
    font-family: 'Sacramento', cursive;
}

.hey-guest{
font-family: 'Courgette', cursive !important;
margin-top: 2vw !important

}
/*------------------------- homepage image -------------------------------------*/
.home-image {
  margin: 0vw !important;
  width: 100vw;
  cursor: pointer !important;
}
.home-one-h1{
  font-family: 'Kalam', cursive !important;
  font-size: 3vw !important;
  color: #ffcc66 !important;
}
.jumpsuit-home{
  background-color: #ffcc66 !important;
  border-style: dotted;
}

.dress-home{
  background-color: #FA8072 !important;
  border-style: dotted;
}
/*------------------------- About page ----------------------------------------*/
.about-page{
  font-family: 'Caveat', cursive;
   font-size: 3vw !important;
   background-color: aliceblue !important;
}

.about-header{
  font-family: 'Bree Serif', serif;
  font-size: 4vw !important
}


/* ----------------------wedding look book------------------------------------- */
.look-book{
  font-family: 'Cookie', cursive;
  font-size: 4vw !important;
  color: white
}
.wed-look{
  /* margin-left: 1vw;
  margin-right: 1vw; */
  background-color: black !important;
  color: white;
  width: 100vw;
  height: 121vw;
  font-size: 2vw !important
}

.wed1-ptag{
  margin-top: 2vw;
  margin-right: 14vw !important;
  margin-left: 36vw !important;
  font-family: 'Simonetta', cursive;
}
.wed2-ptag{
  margin-top: -12vw;
  margin-right: 14vw !important;
  margin-left: 36vw !important;
  font-family: 'Simonetta', cursive;
}

.wed3-ptag{
      font-family: 'Simonetta', cursive;
}

.wed4-ptag{
  font-family: 'Simonetta', cursive;
  margin-top: 10vw !important
}

.wed3-img{

  margin-left: 7vw !important;
  margin-top: -4vw;

}

/*------------------------- all items images card ------------------------------*/

.ui.card:last-child {
  margin-bottom: 2vw !important;
  margin-right: 4vw !important;
}

.ui.six.cards {
margin-left: 21.25em !important;
margin-right: -.75em !important;
}

.ui.cards {
    margin: 4.125em 0.5em !important;
  }
/* -------------------------------side bar ---------------------------------- */
  .ui.text.vertical.menu {
      position: fixed;
      margin-left: 2vw;
      margin-top: -110vw;
      width: 16rem;
      float: left;
      font-family: 'Bree Serif', serif !important;
      font-size: 0.99vw;
  }


/*------------------------------------ Show Container-------------------------- */
  div.show-image img {
    border-style: none;
    width: 38vw;
    margin-left: 9vw;
    margin-top: 4vw;
}



.desc{
  margin-top: -2vw;
}

.infoo {
    margin: -11px 0 1em;
    line-height: 2.4285em;
}

  .show-cont{
  display: flex;
}

.info-div{
  display: grid;
  margin-left: 56vw;
  margin-right: 13vw;
  position: absolute;
  text-align: left;
  right: 0;
  margin-top: 6vw;
}

.ui.divider.info {
height: fit-content;
display: grid;
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top: 0;
    /* border-bottom: 1px solid rgba(255,255,255,.1); */
}

.show-div{
  display: inline-table;
}

.segment-review{
  position: inherit !important;
  margin-right: 53vw !important;
  margin-left: 8.5vw !important;
  margin-top: 6vw !important;
  font-family: 'Bree Serif', serif;
  font-size: large !important
}

.rev-card{
  text-align: start !important;
  font-family: 'Philosopher', sans-serif;


}

.user-rev{
  font-family: 'Simonetta', cursive;
  font-size: 1.25vw;
}
.verified{
  font-family: 'Old Standard TT', serif;
  font-size: small;
  line-height: 2.4285em;
}

/* ---------------------------shoppingCart------------------------------------ */
  .review-form{
    margin-top: 2vw !important;
    margin-left: 5vw !important;
    width: 40vw !important;
    height: 20vw !important;

  }
  .review-r{
    margin-left: 7vw
  }

  .rev-matter{
    margin-top: 2.5vw !important;
    margin-left: 10vw !important;
  }
  .rev-modal{
    width: 30vw !important;
    height: 40vh !important;
    background: url('./sketch2.jpg') !important

  }

.title-org{
  font-family: 'Cookie', cursive;
  margin-top: 3vw !important;
  margin-left: 26vw;
  font-size: 2vw;
}
  .product-info {
    margin-right: -11vw !important;
    margin-left: 7vw !important;
        margin-top: 5vw !important;
  }

.ui.segment.total-card{
  margin-left: 9vw;
    margin-right: 5vw;
    background-color: aliceblue;
    border: 0;
    margin-top: 6vw;
    width: 34vw;
    height: 38vh;
}

.total-card-two{
  margin-top: 3vw;
  line-height: 3vw;
}


.each-product{
  margin-right: 9vw;
}

.ui.items:first-child {
    margin-top: 5vw !important;
}

.item-content{
      text-align: left;
      line-height: 7vw;
}
.table{
  margin-top: 4vw;
margin-left: 10vw;
}

.order{
  font-family: 'Monda', sans-serif;
    font-size: 1vw;
}

.order-card{
  margin-top: 2vw;
  font-family: 'Caveat', cursive !important;
    font-size: 1.5vw;
}

.empty_cart{margin-top: -5vw;}
.item-count{max-width: 2vw}
