.App {
  text-align: center;
}
/* Header */
.main-header {
  height: 15vw;
  display: block;
  background: #FFFFF0
}
.header-content{
  padding: 20px 0px 0;
  text-align: center;
  max-width: 1148px;
}
.top-menu{
  position: absolute;
  right: 32px;
  top: 26px;
}

.menu-right{
  display: block;
  list-style: none;
  text-align: left;
}
/* MODAL */
.ui.modal{
  text-align: center !important;
  font-size: large !important;
  width: 42vw !important;
  height: 53vw !important;
}

/* userform  */
.user-form{
  width: 100%;
  padding: 7vw 4vw;
}
